/* style.css */

/* Mobile adjustments to Materializecss */
@media only screen and (min-width: 993px){
    .container {
        width: 90%;
    }
}

/* Global */
body {
    background-color: #fafafa;
}

em {
    font-size: 85%;
}

hr {
    border: 1px solid #fb8c00;
}

.smaller-heading {
    font-size: 0.9rem;
    font-weight: 600;
}

.notification {
    margin: 0 2rem;
    font-size: 1.1rem;
}

.form-add-line {
    margin-left: 3rem;
}

/* header */
.icon-logo {
    padding: 0 0 0 1.4rem;
}

.icon-nav {
    font-size: 1rem !important;
    padding: 0 0.2rem 0 0;
}

nav .brand-logo {
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.015em;
    padding: 0 0.5rem;
}


/* Receipes/ Home */ 
h3.heading {
    font-size: 2rem;
}

h4.heading-tag {
    font-size: 1.2rem;
    margin: 0 0 1rem 1rem;
}

.card .card-image .card-title {
    padding: 0.2rem 0.5rem;
}

.card .card-title {
    font-size: 1.4rem;
    font-weight: 300;
}

.recipe-card-title {
    font-size: 1.2rem;
    font-weight: 500;
    padding-bottom: 0.5rem;
    letter-spacing: 0.02em;
}

.card .card-content .ingredients-card {
    padding: 12px;
}

.card-time-content {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    flex-direction: column;
    row-gap: 5px;
}

.content-item-secondary {
    font-size: 90%;
}
