/* style.css */

/* Mobile adjustments to Materializecss */
@media only screen and (min-width: 993px){
    .container {
        width: 90%;
    }
}

/* Global */
body {
    background-color: #fafafa;
}

em {
    font-size: 85%;
}

hr {
    border: 1px solid #efefef;
}

.smaller-heading {
    font-size: 0.9rem;
    font-weight: 600;
}

.notification {
    margin: 0 2rem;
    font-size: 1.1rem;
}

.form-add-line {
    margin-left: 3rem;
}

.form-input-desc {
  color: #9e9e9e;
  font-size: 12px;
  min-height: 18px;
}

/* header */
.icon-logo {
    padding: 0 0 0 1.4rem;
}

.icon-nav {
    font-size: 1rem !important;
    padding: 0 0.2rem 0 0;
}

nav .brand-logo {
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.015em;
    padding: 0 0.5rem;
}


/* receipes/ home */ 
h3.heading {
    font-size: 2rem;
}

h4.heading-tag {
    font-size: 1.2rem;
    margin: 0 0 1rem 1rem;
}

.card .card-image .card-title {
    padding: 0.2rem 0.5rem;
}

.card .card-title {
    font-size: 1.4rem;
    font-weight: 300;
}

.recipe-card-title {
    font-size: 1.2rem;
    font-weight: 500;
    padding-bottom: 0.5rem;
    letter-spacing: 0.02em;
}

.card .card-content .ingredients-card {
    padding: 12px;
}

.card-time-content {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    flex-direction: column;
    row-gap: 5px;
}

.content-item-secondary {
    font-size: 90%;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    margin: 0;
}

.card .card-action {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1.2rem;
    text-align: center;
    border-top: 1px solid rgb(222 145 50 / 35%);
}

/* admin dashboard */
.user-card-content {
    padding: 1rem;
    border-radius: 0 0 2px 2px;
    display: flex;
    flex-direction: column;
}

.user-card-content-row {
    flex-direction: row;
    justify-content: space-evenly;
}

.advertising-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.advert-collection {
    width: 100%;
}

.collection a.collection-item {
    color:#fb8c00;
    padding: 5px 10px;
}

.collection .collection-item.active {
    background-color: #fb8c00;
}

.user-card-title {
    font-size: 0.8rem;
    color: rgba(0,0,0,0.6);
}

.user-card-data {
    font-size: 0.9rem;
    color: rgba(0,0,0,0.9);
}

.user-activity {
    padding: 5px 0 0 0;
    font-size: 0.8rem;
}

blockquote {
    border-left: 5px solid #fb8c00;
}

.stat-cards strong {
    font-size: 1.8rem;
    font-weight: 600;
}

.stat-cards i {
    font-size: 2.2rem;
}

.stat-cards span {
    font-size: 90%;
}

/* advertising card */
.advertising-card {
    display: flex;
    flex-direction: column;
}

/* Footer */
.social-heading {
    font-size: 0.8rem;
}
