{% extends "base.html" %}
{% block content %}

    <div class="row">
        <!-- Page title -->
        <h3 class="heading">Add a recipe</h3>
        <h4 class="heading-tag">Share your recipe</h4>
    </div>
     <!-- recipe form -->
    <div class="row card-panel">
        <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}">
            <!-- name-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix"></i>
                    <input id="name" name="name" minlength="5" maxlength="50"
                            type="text" class="validate" required>
                    <label for="name">Your Name</label>
                </div>
            </div>
            <!-- recipe name-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-list prefix"></i>
                    <input id="title" name="title" minlength="5" maxlength="50" 
                            type="text" class=" validate" required>
                    <label for="title">Recipe Name</label>
                </div>
            </div>
            <!-- times/ numbers-->
            <div class="row">
                <div class="input-field col s4">
                    <input placeholder="30" id="preparation_time_minutes" name="preparation_time_minutes"
                            type="number" min="0" step="1" class="validate">
                    <label for="preparation_time_minutes">Prep. Time</label>
                    <span class="helper-text" data-error="wrong" data-success="right">Whole numbers only. E.g 1, 2, 10, 50</span>
                </div>
                <div class="input-field col s4">
                    <input placeholder="15" id="cooking_time_minutes" name="cooking_time_minutes" 
                            type="number" min="0" step="1" class="validate">
                    <label for="cooking_time_minutes">Cook Time</label>
                    <span class="helper-text" data-error="wrong" data-success="right">Whole numbers only. E.g 1, 2, 10, 50</span>
                </div>
                <div class="input-field col s4">
                    <input placeholder="2" id="serves" name="serves" 
                            type="number" min="0" step="1" class="validate">
                    <label for="serves">Servings</label>
                    <span class="helper-text" data-error="wrong" data-success="right">Whole numbers only. E.g 1, 2, 10, 50</span>
                </div>
            </div>
            <!-- description-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-list prefix"></i>
                    <textarea id="description" name="description" minlength="5" 
                                maxlength="140" class="materialize-textarea validate" required></textarea>
                    <label for="description">Recipe Description</label>
                </div>
            </div>
            <div class="row">
                 <!-- ingredients-->
                <div id="incredientsContainer" class="input-field s6">
                    <input id="ingredients" name="ingredients" minlength="5" maxlength="30" 
                            type="text" class="validate" required>
                    <label for="ingredients">Ingredient</label>
                    <a id="addingredient" class="btn-sml"><i class="fas fa-plus-square"></i> Add Ingredient</a>
                </div>
                 <!-- instructions-->
                <div id="instructionsContainer" class="input-field s6">
                    <input id="instructions" name="instructions" minlength="5" maxlength="30" 
                            type="text" class="validate" required>
                    <label for="instructions">Instruction</label>
                    <a id="addinstruction" class="btn-sml"><i class="fas fa-plus-square"></i> Add Instruction</a>
                </div>
                 <!-- Photo Url-->
                <div class="input-field s6">
                    <input id="photo_url" name="photo_url" minlength="5"
                            type="text" class="validate" required>
                    <label for="photo_url">Photo URL</label>
                </div>
            </div>
            <!-- Submit button-->
            <div class="row">
                <div class="col s12 center-align">
                    <button class="btn waves-effect waves-light deep-orange accent-1"
                            type="submit" id="" name="action">Add Recipe
                        <i class="material-icons right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}