{% extends "base.html" %}
{% block content %}
    {% if session.is_admin == "yes" %}
        <div class="row">
            <!-- Page title -->
            <h3 class="heading"><i class="fas fa-cog orange-text text-darken-1"></i> Admin Dashboard</h3>
            <h4 class="heading-tag"> View user and recipe statistics</h4>
        </div>
        <div class="row">
            <h4 class="heading-tag"><i class="fas fa-users orange-text text-darken-1 icon-nav"></i> Users</h4>
            {% if users %}
            <div class="row">
            {% for user in users %}
                <div class="col s12 m6 l4">
                    <!-- User information card -->
                    <div class="card hoverable">
                        <div class="card-content user-card-content">
                            <!-- Change user icon if active -->
                            {% if user.active == True %}
                                <span class="card-title orange-text text-darken-1"><i class="fa fa-user-alt orange-text text-darken-1"></i> {{ user.username }}</span>
                            {% else %}
                                <span class="card-title orange-text text-darken-1"><i class="far fa-user orange-text text-darken-1"></i> {{ user.username }}</span>
                            {% endif %}
                            <span class="user-card-title">Full Name: <strong class="user-card-data">{{ user.fname|capitalize + " " + user.lname|capitalize }}</strong></span>
                            <span class="user-card-title">Last Active: <strong class="user-card-data">{{ user.last_active }}</strong></span>
                            <div class="user-activity">
                                <span><i class="fas fa-wave-square orange-text text-darken-1"></i> Last Activity:</span>
                                <blockquote>{{ user.activity[-1] }}</blockquote>
                            </div>
                        </div>
                        <!-- Link to user activity view -->
                        <div class="card-action">
                            <a href="{{ url_for('user_activity', user_id=user._id) }}" class="orange-text text-darken-1">View Activity</a>
                            <span class="new badge grey darken-1" data-badge-caption="submissions"><i class="fas fa-plus"></i> {{ user.submissions }}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
            {% else %}
                <div class="row">
                    <p>No users found</p>
                </div>
            {% endif %}
        </div>
         <!-- Advertising setttings -->
         {% if advert['advertiser'] %}
         <div class="row">
            <h4 class="heading-tag"><i class="fas fa-chart-area orange-text text-darken-1 icon-nav"></i> Advertising</h4>
            <div class="row">
                <div class="col s12 m6 l6">
                    <div class="card">
                        <div class="card-content user-card-content user-card-content-row stat-cards">
                            <div class="advertising-card-content">
                                <i class="fas fa-euro-sign orange-text text-darken-1"></i>
                                <span>Active Advertiser</span>
                                <strong> {{ advert['advertiser'] }}</strong>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="col s12 m6 l6">
                    <div class="card">
                        <div class="card-content user-card-content user-card-content-row stat-cards">
                            <div class="advertising-card-content">
                                <div class="collection advert-collection">
                                {% for partner in partners%}
                                    {% if advert['advertiser_id'] == partner['advertiser_id'] %}
                                        <a href="#" class="collection-item active">{{ partner['advertiser'] }}<span class="new badge" data-badge-caption="Active"></span></a>
                                    {% else %}
                                        <a href="#" class="collection-item">{{ partner['advertiser'] }}</a>
                                    {% endif %}
                                {% endfor %}
                                </div>  
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <!-- Database metrics -->
        <div class="row">
            <h4 class="heading-tag"><i class="fas fa-chart-area orange-text text-darken-1 icon-nav"></i> Statistics</h4>
            <div class="row">
                <div class="col s12 m6 l6">
                    <div class="card">
                        <div class="card-content user-card-content stat-cards center-align">
                            <i class="fas fa-utensil-spoon orange-text text-darken-1"></i>
                            <strong>{{ recipe_data|count}}</strong>
                            <span>Recipe's in database</span>
                        </div> 
                    </div>
                </div>
                <div class="col s12 m6 l6">
                    <div class="card">
                        <div class="card-content user-card-content stat-cards center-align">
                            <i class="fas fa-user orange-text text-darken-1"></i>
                            <strong>{{ users|count }}</strong>
                            <span>Registered Users</span>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Admin dashboard charts -->
                <div class="col s12 m6 l6">
                    <div class="card">
                        <div class="card-content">
                            <canvas id="chefChart" width="400" height="400"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l6">
                    <div class="card">
                        <div class="card-content">
                            <canvas id="userChart" width="400" height="400"></canvas>
                        </div>
                    </div> 
                </div>
                <!-- Load Chart.js config and data from database -->
                <script src="{{ url_for('static', filename='js/charts.js') }}"></script>
                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                        chef_Chart = chart_chef({{chef_data|tojson}})
                        user_Chart = chart_user({{activity_data|tojson}})
                    });
                </script>
            </div>
        </div>

    {% else %}
        <div class="row">
            <div class="col s12 m12 l6 valign center-align">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title orange-text text-darken-4">Access Forbidden</span>
                        <div class="card-action">
                            <a href="{{ url_for('recipes') }}" class="orange-text text-darken-1"><i class="fas fa-arrow-left icon-nav orange-text text-darken-1"></i> Back to recipes</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}