{% extends "base.html" %}
{% block content %}

    <div class="row">
        <!-- Page title -->
        <h3 class="heading"><i class="fas fa-cog orange-text text-darken-1"></i> Admin Dashboard</h3>
        <h4 class="heading-tag"> View user and recipe statistics</h4>
    </div>
    <div class="row">
        <h4 class="heading-tag"><i class="fas fa-users orange-text text-darken-1 icon-nav"></i> Users</h4>
        {% if users %}
        <div class="row">
        {% for user in users %}
            <div class="col s12 m6 l4">
                <div class="card hoverable">
                    <div class="card-content user-card-content">
                        <span class="card-title"><i class="far fa-user orange-text text-darken-1"></i> {{ user.username }}</span>
                        <span class="user-card-title">Full Name: <strong class="user-card-data">{{ user.fname|capitalize + " " + user.lname|capitalize }}</strong></span>
                        <span class="user-card-title">Last Active: <strong class="user-card-data">{{ user.last_active }}</strong></span>
                        <div class="user-activity">
                            <span><i class="fas fa-wave-square orange-text text-darken-1"></i> Last Activity:</span>
                            <blockquote>{{ user.activity[-1] }}</blockquote>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="" class="orange-text text-darken-1">View Activity</a>
                        <span class="new badge grey darken-1" data-badge-caption="submissions"><i class="fas fa-plus"></i> {{ user.submissions }}</span>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        {% else %}
            <div class="row">
                <p>No users found</p>
            </div>
        {% endif %}
    </div>
     <!-- recipe form -->
    <div class="row">
        <h4 class="heading-tag"><i class="fas fa-chart-area orange-text text-darken-1 icon-nav"></i> Statistics</h4>
        <div class="row">
            <div class="col s6">
                <div class="card">
                    <div class="card-content user-card-content stat-cards center-align">
                        <i class="fas fa-utensil-spoon orange-text text-darken-1"></i>
                        <strong>{{ recipe_data|count}}</strong>
                        <span>Recipe's in database</span>
                    </div> 
                </div>
            </div>
            <div class="col s6">
                <div class="card">
                    <div class="card-content user-card-content stat-cards center-align">
                        <i class="fas fa-user orange-text text-darken-1"></i>
                        <strong>{{ users|count }}</strong>
                        <span>Registered Users</span>
                    </div> 
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Admin dashboard charts -->
            <div class="col s12 m6 l6">
                <div class="card">
                    <div class="card-content">
                        <canvas id="chefChart" width="400" height="400"></canvas>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l6">
                <div class="card">
                    <div class="card-content">
                        <canvas id="userChart" width="400" height="400"></canvas>
                    </div>
                </div> 
            </div>
            <!-- Load Chart.js config and data from database -->
            <script src="{{ url_for('static', filename='js/charts.js') }}"></script>
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    chef_Chart = chart_chef({{chef_data|tojson}})
                    user_Chart = chart_user({{activity_data|tojson}})
                });
            </script>
        </div>
    </div>

{% endblock %}