<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Internal & External stylesheets -->
    {% block styles %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" 
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% endblock %}
    <title>The Cook Book</title>
</head>
    <body>
        <header>
            <nav>
                <div class="nav-wrapper orange lighten-1">
                    <i class="fas fa-utensils icon-logo"></i>
                    <a href="{{ url_for('recipes') }}" class="brand-logo">The Cookbook</a>
                    <a href="#" data-target="mobile-menu" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="{{ url_for('recipes') }}"><i class="fas fa-search icon-nav"></i>Discover Recipes</a></li>
                        <li><a href=""><i class="fas fa-user icon-nav"></i>Your Recipes</a></li>
                        <li><a href=""><i class="fas fa-plus-square icon-nav"></i>Add Receipe</a></li>
                        <li><a href=""><i class="fas fa-cog icon-nav"></i>Admin Dashboard</a></li>
                        <li><a href="">Log Out</a></li>
                        <li><a href="">Log In</a></li>
                        <li><a href="{{ url_for('register') }}"><i class="fas fa-pencil-alt icon-nav"></i>Register</a></li>
                    </ul>
                </div>
            </nav>
            <ul class="sidenav" id="mobile-menu">
                <li><a href="{{ url_for('recipes') }}">Discover Recipes</a></li>
                <li><a href="">Your Recipes</a></li>
                <li><a href="">Add Receipe</a></li>
                <li><a href="">Admin Dashboard</a></li>
                <li><a href="">Log Out</a></li>
                <li><a href="">Log In</a></li>
                <li><a href="">Register</a></li>
            </ul>
        </header>
        <main class="container">
            {% block content %}
            {% endblock %}
        </main>
        <!-- Load internal and external scripts (Materialize 1.0.0) -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>