{%  extends "base.html" %}
{% block content %}
    <!-- Page Title-->
    <h3 class="heading">Log In</h3>
    <!-- Page Content-->
    <div class="row">
        <div class="row">
            <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
            <!-- email field -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user prefix"></i>
                    <input id="username" name="username" type="text" class="validate">
                    <label for="username">Username</label>
                </div>
            </div>
            <!-- password field -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-lock prefix"></i>
                    <input id="password" name="password" type="password" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>
             <!-- register submit -->
             <div class="row">
                    <button type="submit" class="col s12 btn-large orange lighten-1">
                        Submit <i class="fas fa-sign-in-alt"></i>
                    </button>   
                </div>
            </form>
        </div>
    </div>
    <!-- CTA if already registred -->
    <div class="row">
        <div class="col s12">
            <p class="center-align">
                Not registered? <a href="{{ url_for('register') }}" class="orange-text text-ligthen-1">Sign Up here</a>
            </p>
        </div>
    </div>

{% endblock %}