{%  extends "base.html" %}
{% block content %}

  <div class="row">
    <!-- Page title -->
    <h3 class="heading">{{ session.user.capitalize() }}'s Recipes</h3>
    <h4 class="heading-tag"><i class="fas fa-user orange-text text-darken-1"></i> Your submitted recipes</h4>
    <hr>
  </div>
  <!-- user submitted recipes -->
  <div class="row">
    {% for subrecipe in submited_recipes %}
    <div class="col s12 m6 l4">
      <div class="card hoverable">
        <div class="card-image">
          <img src="{{ subrecipe.photo_url }}">
          <div class="recipe-title-container">
            <span class="card-title">{{ subrecipe.title }}</span>
              <a href="{{ url_for('delete_recipe', recipe_id=subrecipe._id) }}" class="btn-floating halfway-fab red delete-fab"><i class="fas fa-trash-alt"></i></a>
          </div>
        </div>
        <div class="card-content">
          <p>{{ subrecipe.description | truncate(75) }}</p>
          <br>
          <p><em>by</em> <strong>{{ subrecipe.chef }}</strong></p>
        </div>
        <div class="card-action">
          <a href="{{ url_for('recipe', recipe_id=subrecipe._id) }}" class="orange-text text-darken-1">View Receipe</a>
          <a href="{{ url_for('recipe', recipe_id=subrecipe._id) }}" class="orange-text text-darken-1">Edit Receipe</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
<!-- user pinned recipes -->
<div class="row">
  <h4 class="heading-tag"><i class="fas fa-thumbtack orange-text text-darken-1"></i> Your pinned recipes</h4>
  <hr>
</div>
  {% if user_recipes %}
    <div class="row">
      {% for recipe in user_recipes %}
      <div class="col s12 m6 l4">
        <div class="card hoverable">
          <div class="card-image">
            <img src="{{ recipe.photo_url }}">
            <div class="recipe-title-container">
              <span class="card-title">{{ recipe.title }}</span>
                <a href="{{ url_for('remove_recipe', recipe_id=recipe._id) }}" class="btn-floating halfway-fab red remove-fab"><i class="fas fa-thumbtack"></i></a>
            </div>
          </div>
          <div class="card-content">
            <p>{{ recipe.description | truncate(75) }}</p>
            <br>
            <p><em>by</em> <strong>{{ recipe.chef }}</strong></p>
          </div>
          <div class="card-action">
            <a href="{{ url_for('recipe', recipe_id=recipe._id) }}" class="orange-text text-darken-1">View Receipe</a>
            <span class="new badge orange darken-1" data-badge-caption="mins"><i class="fas fa-clock"></i> {{ recipe.total_time_minutes }}</span>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  {% else%}
  <div class="row">
    <span>No recipes saved.</span>
  </div>
  {% endif %}

{% endblock %}