{%  extends "base.html" %}
{% block content %}

  <div class="row">
      <h3 class="heading"><i class="fas fa-search orange-text text-darken-1"></i> Discover Recipes</h3>
      <div class="col s12">
        <p>
          <!-- Display count of available receipes in data-->
          Discover up to <strong>{{ recipe_count }}</strong> recipes and counting!<br>
          <span class="smaller-heading">From your favorite chefs to user submitted recipes</span>
          </p>
          <p>
          <span>Store your favorite recipes on your <strong>My Recipes</strong> profile or submit your own for other users to enjoy</span><br>
          <!-- Do not show the sign up link if user is alreay logged in -->
          {% if not session.user %}
            <a href="{{ url_for('register') }}">Sign Up</a> now to start storing your favorites! 
          {% endif %}
        </p>
      </div>
  </div>
  <!-- search recipe titles, desciptions and chefs -->
  <div class="row card valign-wrapper">
    <form action="{{ url_for('search') }}" method="POST" class="col s12">
      <div class="valign-wrapper">
        <div class="input-field col s12 m8">
          <i class="fas fa-search prefix orange-text text-accent-1"></i>
          <input type="search" name="query" id="query" minlength="3" class="validate" required>
          <label for="query">Search</label>
        </div>
        <div class="col s12 m4">
          <button type="submit" class="btn orange darken-3">
            Search 
          </button>
          <a href="{{ url_for('recipes') }}" class="btn-flat orange-text text-accent-4">Reset</a>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <!-- For loop generation a grid of recipe cards - recipe list is randomised on each reload-->
      {% for recipe in recipes %}
        {% if loop.index0 < 15 %}
          <div class="col s12 m6 l4">
            <div class="card hoverable">
              <div class="card-image">
                <img src="{{ recipe.photo_url }}" alt="{{ recipe.title }}">
                <div class="recipe-title-container">
                  <span class="card-title">{{ recipe.title }}</span>
                  {% if session.user %}
                    <a href="{{ url_for('pin_recipe', recipe_id=recipe._id) }}" class="btn-floating halfway-fab orange darken-1 tooltipped"><i class="fas fa-plus"></i></a>
                  {% endif %}
                </div>
              </div>
              <div class="card-content">
                <p>{{ recipe.description | truncate(75) }}</p>
                <br>
                <p><em>by</em> <strong>{{ recipe.chef }}</strong></p>
              </div>
              <div class="card-action">
                <a href="{{ url_for('recipe', recipe_id=recipe._id) }}" class="orange-text text-darken-3">View Receipe</a>
                 <!-- Allow admin to edit all recipes -->
                {% if session.is_admin == "yes" %}
                  <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="orange-text text-darken-4"><i class="far fa-edit"></i> Edit Receipe</a>
                {% endif %}
                <span class="new badge orange darken-3" data-badge-caption="mins"><i class="fas fa-clock"></i> {{ recipe.total_time_minutes }}</span>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
  </div>
  
{% endblock %}