{%  extends "base.html" %}
{% block content %}

  <div class="row">
      <h3 class="heading"><i class="fas fa-search prefix"></i> Discover Receipes</h3>
  </div>
  <div class="row">
    <!-- For loop generation a grid of recipe cards - recipe list is randomised on each reload-->
      {% for recipe in recipes %}
      {% if loop.index0 < 30 %}
      <div class="col s12 m6 l4">
        <div class="card hoverable">
          <div class="card-image">
            <img src="{{ recipe.photo_url }}">
            <div class="recipe-title-container">
              <span class="card-title">{{ recipe.title }}</span>
            </div>
          </div>
          <div class="card-content">
            <span class="">{{ recipe.total_time_minutes }} <strong>mins</strong></span>
            <p>{{ recipe.description | truncate(50) }}</p>
            <p><em>by</em> {{ recipe.chef }}</p>
          </div>
          <div class="card-action">
            <a href="{{ url_for('recipe', recipe_id=recipe._id) }}">View More</a>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
  </div>
  
{% endblock %}