{%  extends "base.html" %}
{% block content %}
    <!-- Page Title-->
    <h3 class="heading">Register</h3>
    <!-- Page Content-->
    <div class="row">
        <div class="row">
            <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
            <!-- first and last name fields -->
            <div class="row">
                <div class="input-field col s6">
                    <i class="fas fa-user-circle prefix"></i>
                    <input id="fname" name="fname" minlength="3" maxlength="15"
                            type="text" class="validate">
                    <label for="fname">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="lname" name="lname" minlength="3" maxlength="15"
                                type="text" class="validate">
                    <label for="lanme">Last Name</label>
                </div>
            </div>
            <!-- email field -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user prefix"></i>
                    <input id="username" name="username" minlength="5" maxlength="20"
                            type="text" class="validate">
                    <label for="username">Username</label>
                </div>
            </div>
            <!-- password field -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-lock prefix"></i>
                    <input id="password" name="password" minlength="5" maxlength="20"
                            type="password" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>
             <!-- register submit -->
             <div class="row">
                    <button type="submit" class="col s12 btn-large orange darken-1">
                        Register <i class="fas fa-sign-in-alt"></i>
                    </button>   
                </div>
            </form>
        </div>
    </div>
    <!-- CTA if already registred -->
    <div class="row">
        <div class="col s12">
            <p class="center-align">
                Already registered? <a href="{{ url_for('login') }}" class="orange-text text-darken-1">Log In</a>
            </p>
        </div>
    </div>

{% endblock %}