{% extends "base.html" %}
{% block content %}

    <div class="row">
        <!-- Page title -->
        <h3 class="heading"><i class="fas fa-list-ol orange-text text-darken-1"></i> User Activity</h3>
        <h4 class="heading-tag"> Username {{ data.username }}</h4>
    </div>
    
     <!-- User activing -->
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content user-card-content stat-cards center-align">
                    <div class="card-title">
                        <span>User Activity:</span>
                    </div>
                    <ol>
                        {% for i in data %}
                        <li>{{ [i].activity }}</li>
                        {% endfor %}
                    </ol>
                </div> 
            </div>
        </div>
    </div>

{% endblock %}